{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}


    {{ dump(data) }}
<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/tac/g/sites/gg/src/Controller/AppController.php</code></li>
        <li>Your template at <code>/home/tac/g/sites/gg/templates/app/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
