{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    <h3>Bug</h3>

<a href="/api/meili/orgs?page=1">/api/meili/orgs?page=1</a>




    <h3>Featured Projects</h3>
<div class="example-wrapper">

    <ul>
        {% for project in projects %}
            <li>{{ project.title }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
